{% extends 'base.html' %}
{% load static %}
{% block title %}Roster{% endblock %}

{% block content %}
<h1>Roster Generation</h1>

<div x-data>
    <input x-model="$store.state.start" type="date" />
    <input x-model="$store.state.end" type="date" />
    <button x-on:click="$store.state.refresh()">Generate</button>
    <button>Save</button>
</div>
<br />
<div id="proposal-table"></div>

<script>
    const DateTime = luxon.DateTime

    document.addEventListener('alpine:init', () => {
        Alpine.store('state', {
            start: "2024-01-08",
            end: "2024-03-08",
            proposalTable: proposalTable('#proposal-table'),
            tableData: null, // set by rosterTable.ajaxResponse
        })
    })

    function proposalTable(id) {
        return new Tabulator(id, {
            ajaxURL: '/generate/results/',
            ajaxContentType: 'json',
            ajaxParams: () => ({ start: Alpine.store('state').start, end: Alpine.store('state').end }),
            autoColumns: true,
            autoColumnsDefinitions: {
                "date": ({
                    field: 'date',
                    title: 'Date',
                    frozen: true,
                    minWidth: 150,
                    hozAlign: 'left',
                    formatter: function (cell, formatterParams, onRendered) {
                        const el = cell.getElement()
                        const value = cell.getValue()
                        const row = cell.getRow().getElement()

                        el.style.fontFamily = 'monospace'
                        // Saturday and Sunday column background colour
                        let date = luxon.DateTime.fromISO(value)
                        content = date.toFormat('dd/MM/yy ccc');
                        return content
                    }
                })

            }
        })
    }

    function workloadTable(id) {
        return new Tabulator(id, {
            layout: 'fitDataStretch',
            ajaxURL: '/roster/workload/',
            ajaxContentType: 'json',
            ajaxParams: () => ({ start: Alpine.store('state').start, end: Alpine.store('state').end }),
            ajaxResponse: function (url, params, response) {
                return response.data
            },
            headerSort: false,
            columns: [
                { title: 'Registrar', field: 'username', formatter: 'plaintext', titleFormatter: 'plaintext' },
                { title: 'Weekday Long', field: 'LONG', width: 200 },
                { title: 'Weekend Long', field: 'WEEKEND', width: 200 },
                { title: 'Weekday Night', field: 'NIGHT', width: 200 },
                { title: 'Weekend Night', field: 'WKD NIGHT', width: 200 },
                { title: 'Social Credit', field: 'FATIGUE', width: 150 },
            ],
            columnDefaults: {
                sorter: 'number',
                hozAlign: 'center',
                headerHozAlign: 'center'
            },
            initialSort: [
                { column: 'FATIGUE', dir: 'desc' } //sort by this first
            ]
        })
    }
</script>
{% endblock %}