<tr id="extra-shift-{{ shift.pk }}" class="h-50">
  <th scope="row" class="font-monospace text-start">
    {{ shift.date|date:"Y-m-d" }}
    {% if shift.date in holidays %}🎉{% endif %}
  </th>
  <td class="text-start">
    <span>{{ shift.get_type_display }}</span>
    <span class="text-secondary">({{ shift.date|date:"D" }})</span>
  </td>
  <td>{{ shift.interests.count }}</td>
  <td>
    {% if shift.registrar %}
      {{ shift.registrar }}
    {% elif shift.interest_id %}
      <form class="input-group"
            method="post"
            action="{% url 'extra_interest' shift.interest_id %}"
            up-submit
            up-target="#extra-shift-{{ shift.pk }}">
        {% csrf_token %}
        <input type="text"
               name="comment"
               class="form-control"
               placeholder="Preferred RDOs etc"
               value="{{ shift.comment }}" />
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <button class="btn btn-sm btn-danger"
                type="button"
                up-follow
                up-href="{% url 'extra_interest' shift.interest_id %}"
                up-method="delete"
                up-target="#extra-shift-{{ shift.pk }}"
                up-confirm="Are you sure you want to delete your interest in this shift?">Delete</button>
      </form>
    {% else %}
      <form method="post"
            action="{% url 'extra_interests' %}"
            up-submit
            up-target="#extra-shift-{{ shift.pk }}">
        {% csrf_token %}
        <input type="hidden" name="shift_id" value="{{ shift.pk }}" />
        <button class="btn btn-sm btn-primary" type="submit">Keen!</button>
      </form>
    {% endif %}
  </td>
</tr>
