<div class="col-md-2">
    {% with form.errors.date as error %}
        <label for="inputDate" class="form-label">Start</label>
        <input type="date"
               class="form-control {% if error %}is-invalid{% endif %}"
               id="inputDate"
               name="start"
               value="{{ form.start.value|date:'Y-m-d' }}"
               required />
        {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
    {% endwith %}
</div>
<div class="col-md-2">
    {% with form.errors.date as error %}
        <label for="inputDate" class="form-label">End</label>
        <input type="date"
               class="form-control {% if error %}is-invalid{% endif %}"
               id="inputDate"
               name="end"
               value="{{ form.end.value|date:'Y-m-d' }}"
               required />
        {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
    {% endwith %}
</div>
<div class="col-md-2:lg col-md-4 d-inline-flex align-items-end gap-1">
    <button type="submit" class="btn btn-primary shadow">View</button>
    <button type="button"
            class="btn btn-danger shadow"
            hx-post="{% url 'save_shifts' %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-confirm="Are you sure you wish to save these shifts?">Save shifts</button>
    <button type="button" class="btn btn-secondary shadow">Create extra duty</button>
</div>
