{% extends 'base.html' %}

{% load static %}

{% block title %}
    Roster
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <h1>Roster Generation</h1>
        <form class="row">
            {% include "generator/date_range_form.html" %}
        </form>
        <table class="table table-hover table-bordered table-striped-columns mt-4 p-4 ">
            <thead>
                <tr class="table-dark text-center">
                    <th scope="col" style="width: 10%">Date</th>
                    <th scope="col" style="width: 22.5%">Long day</th>
                    <th scope="col" style="width: 22.5%">Night</th>
                    <th scope="col" style="width: 22.5%">RDO</th>
                    <th scope="col" style="width: 22.5%">Sleep</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% include "generator/shift_list.html" with days=days %}
            </tbody>
        </table>
    </div>
{% endblock content %}
