{% extends 'base.html' %}

{% load static %}

{% block title %}
    Roster
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <h1>Roster Generation</h1>
        <form class="row">
            {% include "generator/date_range_form.html" %}
        </form>
        {% if workload %}
            <table class="table mt-4 p-4 collapse" id="workload">
                <thead>
                    <tr class="table-dark text-center">
                        <th scope="col" style="width: 10%">Registrar</th>
                        <th scope="col" style="width: 10%">Long day</th>
                        <th scope="col" style="width: 10%">Weekend</th>
                        <th scope="col" style="width: 10%">Weekday night</th>
                        <th scope="col" style="width: 10%">Weekend night</th>
                        <th scope="col" style="width: 10%">Workload</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% include "generator/workload.html" with workload=workload %}
                </tbody>
            </table>
        {% endif %}
        <table class="table table-hover table-bordered mt-4 p-4" id="roster-table">
            <thead>
                <tr class="table-dark text-center">
                    <th scope="col" style="width: 10%">Date</th>
                    <th scope="col" style="width: 22.5%">Long day</th>
                    <th scope="col" style="width: 22.5%">RDO</th>
                    <th scope="col" style="width: 22.5%">Night</th>
                    <th scope="col" style="width: 22.5%">Sleep</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% include "generator/shift_list.html" with days=days %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block inline_javascript %}
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        Alpine.start();
      });
    </script>
{% endblock inline_javascript %}
