<div class="d-flex gap-1 justify-content-start">
    {% if not shifts %}
    {% else %}
        {% for shift in shifts %}
            {% if shift.pk %}
                {% include "generator/shift_cell_button.html" with shift=shift %}
            {% else %}
                {% if not shift.registrar %}
                    <span class="placeholder placeholder-lg w-75 bg-danger">Unfillable</span>
                {% else %}
                    <div class="p-1 fst-italic">
                        <span>{{ shift.registrar.username }}</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
