<input type="hidden" name="form-TOTAL_FORMS" value="{{ days|length }}" />
<input type="hidden" name="form-INITIAL_FORMS" value="0" />
{% for date, shifts in days.items %}
    <tr class="{% if date|date:'D' in 'Sat,Sun' %}table-success{% elif date in holidays %}table-warning{% endif %}">
        <th scope="row"
            class="font-monospace"
            {% if date in holidays %}data-bs-toggle="tooltip" data-bs-title="{{ holidays.date }}"{% endif %}>
            {{ date|date:'Y-m-d D' }}
        </th>
        <td>{% include "generator/shift_cell.html" with shifts=shifts.LONG %}</td>
        <td>{% include "generator/shift_cell.html" with shifts=shifts.NIGHT %}</td>
        <td>{% include "generator/shift_cell.html" with shifts=shifts.RDO %}</td>
        <td>{% include "generator/shift_cell.html" with shifts=shifts.SLEEP %}</td>
    </tr>
{% endfor %}
