{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Sign Out" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="h3 mb-2">{% translate "Sign Out" %}</h1>
  <p class="text-body-secondary mb-4">{% translate "Are you sure you want to sign out?" %}</p>
  <form id="logout-form" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary w-100 py-2" type="submit" autofocus>{% translate "Sign Out" %}</button>
  </form>
  <p class="text-center mt-3 mb-0">
    <a class="d-inline-block py-1" href="{% url 'home' %}">{% translate "Cancel" %}</a>
  </p>
{% endblock inner %}
