{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Reset password" %}
{% endblock head_title %}
{% block inner %}
  {% if not user.is_authenticated %}
    {% translate "Sign In" as sign_in_label %}
    {% url 'account_login' as login_url %}
    {% include "account/snippets/back_link.html" with href=login_url label=sign_in_label %}
  {% endif %}
  <h1 class="h3 mb-2">{% translate "Reset password" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="text-body-secondary mb-4">
    {% translate "Enter the email address on your account and we'll send you a link to reset your password." %}
  </p>
  <form id="password-reset-form"
        method="post"
        action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary w-100 py-2" type="submit">{% translate "Send reset link" %}</button>
  </form>
  <p class="text-body-secondary small mt-4 mb-0">
    {% translate "Please contact us if you have any trouble resetting your password." %}
  </p>
{% endblock inner %}
