{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Change password" %}
{% endblock head_title %}
{% block inner %}
  {% translate "Profile" as profile_label %}
  {% include "account/snippets/back_link.html" with href=user.get_absolute_url label=profile_label %}
  <h1 class="h3 mb-4">{% translate "Change password" %}</h1>
  <form id="password-change-form"
        method="post"
        action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary w-100 py-2" type="submit" name="action">{% translate "Change password" %}</button>
  </form>
  <p class="text-center mt-3 mb-0">
    <a class="d-inline-block py-1" href="{% url 'account_reset_password' %}">{% translate "Forgot your password?" %}</a>
  </p>
{% endblock inner %}
