{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Password changed" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="h3 mb-2">{% translate "Password changed" %}</h1>
  <p class="text-body-secondary mb-4">{% translate "Your password is now changed." %}</p>
  {% if user.is_authenticated %}
    <a class="btn btn-primary w-100 py-2" href="{% url 'home' %}">{% translate "Go to calendar" %}</a>
  {% else %}
    <a class="btn btn-primary w-100 py-2" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
  {% endif %}
{% endblock inner %}
