{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Check your email" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="h3 mb-2">{% translate "Check your email" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="text-body-secondary mb-4">
    {% translate "We've sent you an email with a link to reset your password. Please contact us if it doesn't arrive within a few minutes." %}
  </p>
  {% if not user.is_authenticated %}
    <a class="btn btn-outline-secondary w-100 py-2"
       href="{% url 'account_login' %}">{% translate "Back to sign in" %}</a>
  {% endif %}
{% endblock inner %}
