{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Verify your email address" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="h3 mb-2">{% translate "Verify your email address" %}</h1>
  <p class="text-body-secondary">
    {% translate "This part of the site needs a verified email address. We've sent you an email with a verification link. Please contact us if it doesn't arrive within a few minutes." %}
  </p>
  <a class="d-inline-block py-1" href="{% url 'account_email' %}">{% translate "Change your email address" %}</a>
{% endblock inner %}
