{% extends 'base.html' %}
{% load static %}
{% block title %}Work load{% endblock %}

{% block content %}

<div id="workload-table"></div>

<script>
    function workloadTable(id) {
        return new Tabulator(id, {
            layout: 'fitDataStretch',
            ajaxURL: '/roster/workload/',
            ajaxContentType: 'json',
            ajaxParams: () => ({ start: Alpine.store('state').start, end: Alpine.store('state').end }),
            ajaxResponse: function (url, params, response) {
                return response.data
            },
            headerSort: false,
            columns: [
                { title: 'Weekday Long', field: 'LONG', width: 200 },
                { title: 'Weekend Long', field: 'WEEKEND', width: 200 },
                { title: 'Weekday Night', field: 'NIGHT', width: 200 },
                { title: 'Weekend Night', field: 'WKD NIGHT', width: 200 },
                { title: 'Social Credit', field: 'FATIGUE', width: 150 },
                { title: 'Registrar', field: 'username', formatter: 'plaintext', titleFormatter: 'plaintext' }
            ],
            columnDefaults: {
                sorter: 'number',
                hozAlign: 'center',
                headerHozAlign: 'center'
            },
            initialSort: [
                { column: 'FATIGUE', dir: 'desc' } //sort by this first
            ]
        })
    }
</script>
{% endblock %}