<h3>Add new leave</h3>
<input type="hidden"
       name="registrar"
       value="{% if form.cleaned_data.registrar.pk %}{{ form.cleaned_data.registrar.pk }}{% else %}{{ form.initial.registrar.pk }}{% endif %}" />
<div class="row gap-0 mt-2 align-items-top">
    <div class="col-md-2">
        {% with error=form.errors.date form_errors=form.non_field_errors %}
            <label for="inputDate" class="form-label">Date</label>
            <input type="date"
                   class="form-control {% if error or form_errors %}is-invalid{% endif %}"
                   id="inputDate"
                   name="date"
                   value="{{ form.date.value|date:'Y-m-d' }}"
                   required />
            {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
        {% endwith %}
    </div>
    <div class="col-md-2">
        {% with form.errors.type as error %}
            <label for="inputType" class="form-label">Type of leave</label>
            <select id="inputType"
                    class="form-select {% if error %}is-invalid{% endif %}"
                    name="type"
                    required>
                {% for type in form.fields.type.choices %}
                    <option value="{{ type.0 }}"
                            {% if form.type.value == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                {% endfor %}
            </select>
            {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
        {% endwith %}
    </div>
    <div class="col-md-2">
        {% with form.errors.portion as error %}
            <label for="inputPortion" class="form-label">Portion</label>
            <select id="inputPortion"
                    class="form-select {% if error %}is-invalid{% endif %}"
                    name="portion"
                    required>
                {% for portion in form.fields.portion.choices %}
                    <option value="{{ portion.0 }}"
                            {% if form.portion.value == type.0 %}selected{% endif %}>{{ portion.1 }}</option>
                {% endfor %}
            </select>
            {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
        {% endwith %}
    </div>
    <div class="col-md-4">
        {% with form.errors.comment as error %}
            <label for="inputComment" class="form-label">Comment</label>
            <input type="text"
                   class="form-control {% if error %}is-invalid{% endif %}"
                   name="comment"
                   id="inputComment" />
            {% if error %}<div class="invalid-feedback">{{ error }}</div>{% endif %}
        {% endwith %}
    </div>
    <div class="col-md-1">
        <label class="form-label" for="add-leave-button"></label>
        <button class="btn btn-primary ml-auto form-control" id="add-leave-button">Submit</button>
    </div>
</div>
