{% load editor_tags %}

{% now "Y-m-d" as today %}
{% with relevant_events=events|keyvalue:registrar|keyvalue:date %}
    {% with shifts=relevant_events.shifts leaves=relevant_events.leaves %}
        <td class="font-monospace
                   {% if date|date:'Y-m-d' == today %}
                       table-active
                   {% elif date|date:'D' in 'Sat,Sun' %}
                       table-warning
                   {% endif %}
                   {% if date in holidays %}table-info{% endif %}
                   {% if shifts and leaves %}border border-2 border-danger{% endif %}">
            <div class="row align-items-center p-0 m-0 h-100 gap-1 ">
                {% if shifts %}
                    {% for shift in shifts %}
                        <button class="col rounded border shadow-sm
                                       {% if shift.type == 'LONG' %}
                                           bg-danger
                                       {% elif shift.type == 'NIGHT' %}
                                           bg-dark text-light
                                       {% elif shift.type == 'SLEEP' or shift.type == 'RDO' %}
                                           bg-warning-subtle
                                       {% endif %}">{{ shift.type }}</button>
                    {% endfor %}
                {% endif %}
                {% if leaves %}
                    {% for leave in leaves %}
                        <button class="col rounded border bg-light-subtle shadow-sm">{{ leave.type }}</button>
                    {% endfor %}
                {% endif %}
            </div>
        </td>
    {% endwith %}
{% endwith %}
{% comment %}
                                       {% if leave.dot_approved and leave.reg_approved %}
                                           text-success
                                       {% elif leave.dot_approved or leave.reg_approved %}
                                           text-warning-emphasis
                                       {% else %}
                                           text-secondary
                                       {% endif %}"
{% endcomment %}
