{% load editor_tags %}

{% now "Y-m-d" as today %}
{% with relevant_events=events|keyvalue:registrar.id|keyvalue:date %}
    {% with shifts=relevant_events.shifts leaves=relevant_events.leaves %}
        <td id="cell-{{ date|date:'Y-m-d' }}-{{ registrar.id }}"
            data-date="{{ date|date:'Y-m-d' }}"
            data-registrar-id="{{ registrar.id }}"
            data-registrar="{{ registrar }}"
            class="font-monospace px-0 align-middle event-cell
                   {% if date|date:'Y-m-d' == today %}
                       table-active
                   {% elif date|date:'D' in 'Sat,Sun' %}
                       table-warning
                   {% endif %}
                   {% if date in holidays %}table-info{% endif %}">
            <div class="d-flex flex-column align-items-start justify-content-start gap-1 px-1 m-0 position-relative event-cell-content">
                {% if shifts %}
                    {% for shift in shifts %}
                        {% include "editor/event_shift_button.html" with shift=shift %}
                    {% endfor %}
                {% endif %}
                {% if leaves %}
                    {% for leave in leaves %}
                        {% include "editor/event_leave_button.html" with leave=leave %}
                    {% endfor %}
                {% endif %}
                {% include "editor/event_shift_new_form.html" %}
            </div>
        </td>
    {% endwith %}
{% endwith %}
