{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block title %}
  Roster
{% endblock title %}
{% block content %}
  <main class="container-fluid">
    <h1>Roster Editor</h1>
    <div up-main>
      {% include "editor/menu_bar.html" %}
      {% include "editor/table.html" %}
    </div>
  </main>
  {% render_bundle 'editor' %}
{% endblock content %}
{% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      Alpine.start();
    });
  </script>
{% endblock inline_javascript %}
