{% load editor_tags %}

<thead>
    <tr class=" text-center table-light">
        <th scope="col" style="width: 100px"></th>
        {% now "Y-m-d" as today %}
        {% for date in dates %}
            <th scope="col"
                class="{% if date|date:'Y-m-d' == today %}
                           table-active
                       {% elif date|date:"D" in "Sat,Sun" %}
                           table-warning
                       {% endif %}"
                {% if date in holidays %}data-bs-toggle="tooltip" data-bs-title="{{ holidays|keyvalue:date }}"{% endif %}
                style="min-width: 150px">
                <div>{{ date|date:'Y-m-d' }}</div>
                <div>
                    {{ date|date:'D' }}
                    {% if date in holidays %}🎉{% endif %}
                </div>
            </th>
        {% endfor %}
    </tr>
</thead>
